@keyframes dropin {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.donation-request-form,
.app-message {
  animation: dropin var(--animation-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown {
  animation: appear calc(var(--animation-duration)/3) linear;
}

/* ---------------- */

.app-message {
  width: var(--app-message-width);
  padding: 8px 16px;

  position: fixed;
  top: 100px;
  left: calc(50% - var(--app-message-width) / 2);
  z-index: 1000;

  filter: brightness(160%);
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.app-message.success {
  background-color: var(--color-success);
}

.app-message.error {
  background-color: var(--color-error);
}

.app-message.warning {
  background-color: var(--color-warning);
}