@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-message-width: 300px;

  --animation-duration: 800ms;

  --white: #ffffff;
  --color-success: #99f5d3;
  --color-error: #fdacac;
  --color-warning: #fdd38b;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}