body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: #1c1c1c;
}

nav {
  font-weight: normal;
}

h1 {
  font-family: Montserrat;
  font-weight: 24px;
  text-align: center;
}

.menuButton {
  background-color: rgb(163, 6, 6);
  color: white;
  border: solid;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 60px;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.15s;
}

.menuButton:hover {
  background-color: white;
  color: rgb(163, 6, 6);
}

.centerImage {
  display: block;
  margin: 0 auto;
}

